@import url("https://fonts.googleapis.com/css2?family=Phudu:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Lato";
    flex-shrink: 0;
    flex-grow: 0;
    outline: none;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column wrap;
    background: linear-gradient(135deg, #5d229d, #3a72c4);
    background-size: cover;
    background-position: center;
}

#header{
    --header-height: 60px;
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}
#header .column{
    width: 120px;
    height: fit-content;
}
#header .column #button{
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
}
#header .column #button #text{
    width: fit-content;
    height: fit-content;
    padding: 0 8px;
    color: #fff;
    font-family: "Phudu";
    font-size: 20px;
    cursor: pointer;
    line-height: 1.6;
}
#header .column #button #text #underline{
    width: 30px;
    height: 1.5px;
    margin: 0 auto;
    background-color: #fff;
    opacity: 0;
    transition: .2s ease;
}
#header .column #button #text:hover #underline{
    opacity: 1;
}
#header .column #dropdown{
    width: 100%;
    height: fit-content;
    overflow: hidden;
}
#header .column #dropdown #content{
    width: 100%;
    height: fit-content;
    transform: translateY(-100%);
    opacity: 0;
    transition: .2s ease;
}
#header .column[selected] #dropdown #content{
    transform: translateY(0);
    opacity: 1;
}
#header .column #dropdown #content .row{
    width: calc(100% - 20px);
    height: 30px;
    padding: 4px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Phudu";
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

#container{
    width: 300px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column wrap;
    background-color: rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    padding: 30px;
    border-radius: 40px;
    border: 2px solid #fff;
}
#container h1{
    width: 100%;
    height: fit-content;
    color: #fff;
    font-family: "Phudu";
    text-align: center;
}
#container input{
    width: calc(100% - 34px);
    height: 40px;
    padding: 0 15px;
    border-radius: 1000px;
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, .1);
    color: #fff;
    font-size: 18px;
}
#container input::placeholder{
    color: rgba(255, 255, 255, .7);
}
#container #submit{
    width: calc(100% - 34px);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    border-radius: 1000px;
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, .1);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    font-family: "Phudu";
}
#container #submit:hover{
    background-color: rgba(255, 255, 255, .2);
}
#container #submit:active{
    background-color: rgba(255, 255, 255, .3);
}
#container h2{
    width: fit-content;
    height: fit-content;
    color: #fff;
    font-family: "Phudu";
    font-size: 18px;
    font-weight: 400;
}
#container #log{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Phudu";
    font-size: 20px;
    font-weight: 400;
}

#footer{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#footer p{
    width: fit-content;
    height: fit-content;
    color: #fff;
    font-family: "Phudu";
    text-align: center;
}